@charset "UTF-8";

body {
  background: rgb(255, 208, 215);
  color:rgb(23, 108, 177)
}

h1{
  color:rgb(110, 110, 110)
}

p{
  color:rgb(105, 105, 105);
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid rgb(105, 105, 105);
}